$primary-color: #FF69B4;
$primary-color-hover: #FF1493;
$button-color-hover: #FFD700;
$pin-quote-second-items: rgba(0, 0, 255, 0.75);
$pin-quote-third-items: rgba(255, 191, 0, 0.75);
$pin-quote-fourth-items: rgba(148,0,211, 0.75);
$pin-quote-fifth-items: rgba(210, 4, 45, 0.75);
$more-quotes-second-items: rgba(253, 218, 13, 0.75);
$articles-first: rgba(153,50,204, 0.75);
$articles-second: rgba(255, 95, 31, 0.75);
$article-two-first-items: rgba(0,128,0, 0.75);
$article-two-second-items: rgba(64,224,208, 0.75);
$article-two-third-items:rgba(199,21,133, 0.75);
$button-load-submit-color: #696969;